<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update - Places</title>
</head>

<body>
    <h1>Update Place</h1>
    <form action="/places/<%= place._id %>?_method=PUT" method="POST">
        <div>
            <div>
                <label for="title">Title</label>
                <input type="text" name="title" id="title" value="<%= place.title %>">
            </div>

            <div>
                <label for="price">Price</label>
                <input type="text" name="price" id="price"  value="<%= place.price %>">
            </div>

            <div>
                <label for="description">Description</label>
                <textarea name="description" id="description"><%= place.description %></textarea>
            </div>

            <div>
                <label for="location">Location</label>
                <input type="text" name="location" id="location" value="<%= place.location %>">
            </div>
        </div>  

        <button type="submit">Edit Place</button>
    </form>
</body>

</html>