<% layout('layouts/main') %>

    <h1>All Places</h1>
    <a href="/places/create">Add Place</a>

    <ul>
        <% places.forEach((place)=> { %>
            <li>
                <h2>
                    <a href="/places/<%= place._id %>">
                        <%= place.title %>
                    </a>

                </h2>
                <p>
                    <%= place.description %>
                </p>
                <p>Price: <%= place.price %>
                </p>
                <p>Location: <%= place.location %>
                </p>
            </li>
            <% }); %>
    </ul>